<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DLSearchBarDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AAA7BA241D07D14C00137AF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAA7BA3D1D07D14C00137AF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAA7BA481D07D14C00137AF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
